:root{
    --colOne: 3;
}

.container {
    width: calc(100% / var(--colOne));
    padding: 20px;
    background-color: red;
    margin: 300px auto;
    border: 3px solid green;
}

.element {
    width: calc(100% - 400px);
    background-color: #000;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid yellow;
}